.controls {
  margin: 0 auto;
  width: 30%;
}

.system {
  margin: 0 auto;
  width: 30%;
  top: 50px;
  transform: rotate(0deg);
}

.incline {
  width: 200px;
  height: 5px;
  background-color: green;
}

.vehicle {
  width: 50px;
  height: 20px;
  background-color: red;
  position: relative;
  left: 75px;
}
